body{
    margin: 0;
    background-color: #0066ff;
}

/* .calc{
    height: 100vh;
    width: 100vw;
} */

.calc{
    height: 60vh;
    width: 40vw;
    background-color: #ffebcd67;
    display: flex;
    flex-direction: column;
    
}
.row1{
    display: flex;
    flex-direction: row;
}

.row2{
    display: flex;
    flex-direction: row;
}
.row3{
    display: flex;
    flex-direction: row;
}
.row4{
    display: flex;
    flex-direction: row;
}
.row0{
    display: flex;
    flex-direction: row;
}
