body{
    margin: 0;
    padding: 0;
    /* overflow: hidden; */
}
.top{
    background-color: #0044ff;
    height: 15vh;  
    width: auto;
    padding-left: 20px;
    display: flex;
    align-items: center;
    font-size: x-large;
    color: white;
}

.middle{
    height: 70vh;
    width: 100vw;
    display: flex;
    flex-direction: row;
    justify-content: flex-start;
}
.content{
    height: 70vh;
    width: 70vw;
    display: flex;
    flex-direction: column;
    background-color: hsl(152, 100%, 50%);
    justify-content: space-between;
}

.aside{
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    color: white;
    font-size: xx-large;
    font-weight: bolder;
    height: 70vh;
    width: 30vw;
    background-color: orangered;
}

.footer{
    background-color: aqua;
    height: 15vh;
    width: 100vw;
    line-height: normal;
    display: flex;
    justify-content: center;
    align-items: center;
    color: white;
    font-size: xx-large;
}

.row{
    display: flex;
    flex-direction: row;
}

.innerContent{
    background-color: blue;
    display: flex;
    justify-content: space-around;
}