body{
    margin: 0%;
}
a:link{
    color: yellow;
}
a:visited{
    color: yellow;
}

.topbar{
    height: 10vh;
    width: 100vw;
    background-color: black;
    color: yellow;
    display: flex;
    align-items: center;
    justify-content: flex-start;
}

.brand{
    height: 10vh;
    width: 85vw;
    display: flex;
    justify-content: flex-start;
    align-items: center;
    margin-left: 1vw;
    font-size: x-large;
}

.userman{
    height: 10vh;
    width: 15vw;
    background-color: black;
    display: flex;
    justify-content: space-around;
    align-items: center;
    margin-right: 1vw;
}


.body{
    background-image: url('../images/index_bg.jpg');
    background-size: cover;
    height: 72vh;
    width: 100vw;
    padding-top: 8vh;
}

.footer{
    height: 10vh;
    width: 100vw;
    display: flex;
    background-color: black;
    color: yellow;
    vertical-align: middle;
}

.fleft{
    width: 50vw;
    display: flex;
    justify-content: flex-start;
    align-items: center;
    color: yellow;
    padding-left: 2vw;
}

.fright{
    width: 50vw;
    display: flex;
    justify-content: space-around;
    align-items: center; 

}

.insta{
    display: flex;
    justify-content: flex-start;
}

.fb{
    display: flex;
    justify-content: flex-end;
}

.booking{
    display: flex;
    flex-direction: column;
    height: 35vh;
    width: 30vw;
    background-color: black;
    justify-content: center;
    align-items: center;
    margin-top: 15vh;
    margin-left: 8vw;
    border-radius: 12px;
}

.booktitle{
    display: flex;
    justify-content: center;
    color: yellow;
    margin-top: 20px;
    margin-bottom: 30px;
    font-size: x-large;
}

.details{
    color: yellow;
    font-size: larger;
}

#destination{
    height: 4vh;
    width: 19vw;
    border-radius: 10px;
}

#pickup{
    height: 4vh;
    width: 19vw;
    border-radius: 10px;
}

.submit{
    margin-top: 20px;
    display: flex;
    justify-content: center;
}

#submit{
    color: white;
    background-color: blue;
    height: 40px;
    width: 75px;
    font-size: larger;
    border-radius: 7px;
}

#submit:hover{
    background-color: hsl(240, 100%, 30%);
}